.second {
	height: 150px;
}

.title {
	color: black;
	padding-top: 8em;
}

.slice {
	min-height: 200px;
	padding: 50px 0;
	background: white;
	color: black;
}

/*Desktop*/
@media screen and (min-width:900px) {
}
