html, body{
	margin:0;
	padding:0;
	border:0;
	min-width: 300px;
}

body {
  font-family: Lekton, sans-serif;
}

.background {
	position: relative;
	top: 0;
	width: 100%;
	height: 300px;
  background-size: cover !important;
  background-attachment: fixed;
  min-width: 300px;

	.small {
		height: 150px;
	}
}

.nav-bar {
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	background-color: rgba(0,0,0, 0.7);
	z-index: 10;
	min-width: 300px;
	color: white;

  ul {
  	text-align: left;
  	list-style-type: none;
    margin: 10px 0;
  }

  li {
		display: inline;
		text-align: center;
  	text-transform: uppercase;
  	font-size: 1.125em;
   	padding: 0 30px;
  }

  a {
  	color:inherit;
  	text-decoration:inherit;
  }

  li:hover{
	color: rgb(246,148, 184);
  }
}

a {
	color: rgb(246,148, 184);
	text-decoration: inherit;
}

a.footer {
	color: rgb(246,148, 184);
}

a:hover{
color: rgb(246, 98, 184);
}

.page-link {
	color: inherit !important;
}

.nav_item_box{
  display: inline-block;
  max-width: 650px;
  margin: 0 auto;
}

.footer{
	margin:20px 0;
	padding:10px 0;
	background-color:rgba(255, 255, 255, 0.7);

	.content{
		display: table;
		margin:0 auto;
	}

	img{
		width:50px;
		height: 50px;
	}

	img:hover{
		filter: drop-shadow(0 0 5px rgb(246,148, 184));
	}
}

nav {
	.page-item.active .page-link {
		background-color: rgb(246,148, 184);
		border-color: rgb(246,148, 184);
	}
}

.content {
	margin-top: 47px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/*Desktop*/
@media screen and (min-width:580px) {
}
