.title {
  padding-top: 4em;
}
.post {
  margin: 3em 10px;
}
.block-img {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}
.block-img img {
  max-height: 300px;
  box-shadow: 0 3px 8px 3px grey;
}
/*Desktop*/
@media screen and (min-width: 580px) {
  .post {
    margin: 3em 6em;
  }
}
