html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: Lekton, sans-serif;
}
.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  min-width: 300px;
  color: white;
}
.nav-bar ul {
  text-align: left;
  list-style-type: none;
  margin: 10px 0;
}
.nav-bar li {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125em;
  padding: 0 30px;
}
.nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
.nav-bar li:hover {
  color: #f694b8;
}
a {
  color: #f694b8;
  text-decoration: inherit;
}
a:hover {
  color: #f662b8;
}
.page-link {
  color: inherit !important;
}
.nav_item_box {
  display: inline-block;
  max-width: 650px;
  margin: 0 auto;
}
.footer {
  margin: 20px 0;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.footer .content {
  display: table;
  margin: 0 auto;
}
.footer img {
  width: 50px;
  height: 50px;
}
.footer img:hover {
  filter: invert();
}
nav .page-item.active .page-link {
  background-color: #f694b8;
  border-color: #f694b8;
}
.content {
  margin-top: 47px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
/*Desktop*/
