extends ./layout.pug
block header
  link(rel="stylesheet" href="/css/index.css")
block body
    .background(style='background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("' + pagecontent.getImage('homepage.carousel').url + '") no-repeat top center fixed')
      .container
        .title
          h1.text-center
            strong
              != pagecontent.getText('homepage.title')
          h2.text-center
            i
              | ~
              != pagecontent.getText('homepage.subtitle')
              | ~
    .slice
      .container
        .text-center
          != pagecontent.getStructuredText('homepage.text').asHtml()
    .background.second(style='background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("' + pagecontent.getImage('homepage.carousel').url + '") no-repeat top center fixed')
